<footer class="footer">
    <div class="top">
        <h3>Find us </h3>
        <p>Lorem ipsum dolor sit amet.</p>
        <h6><i class="fa-solid fa-location-arrow"></i>Dr CV Raman Hostel</h6>
        <h6><i class="fa-solid fa-phone-flip"></i>+91-888888888</h6>
        <h6><i class="fa-solid fa-envelope"></i>LANV-Shop@gmail.com</h6>
       
    </div>
    <div class="middle">
        <h3>About</h3>
        <h6>About Us</h6>
        <h6><a href="/contactus" style="color: #fff;">Contact Us</a></h6>
        <h6>Carrers</h6>
        <h6>LANV-Shop</h6>
        <h6>Log Out</h6>
        <h6>Help</h6>
    </div>
    <div class="policy">
        <h3>Policy</h3>
        <h6>Services</h6>
        <h6><a href="/return">Return Product</a></h6>
        <h6>Shipping</h6>
        <h6>Site Map</h6>
        <h6>Security</h6>
        <h6>Privacy Policy</h6>
    </div>
    <div class="last">
        <h3>Follow Us</h3>
        <p>Lorem ipsum dolor sit <a href="https:">lorem</a></p>
        <p>Lorem ipsum dolor sit <a href="">lorem</a></p>
        <p>Lorem ipsum dolor sit <a href="">lorem</a></p>
    </div>
    <p class="text-center">Copyright@2022 <a href="#">LANV-Shop Private Limited </a></p>

</footer>