<header class="header">

    <img src="./images/logo.png" alt="">

   <nav class="navbar">
       <a href="/">home</a>
       <a href="#features">features</a>
       <a href="/ourproduct">products</a>
       <a href="/review">review</a> 
       <a href="/login">Login</a>
       <a href="/affiliate"> Affiliate Member</a>
   </nav>

   <div class="icons">
       <div class="fas fa-bars" id="menu-btn"></div>
       <div class="fas fa-search" id="search-btn"></div>
       <div class="fas fa-shopping-cart" id="cart-btn"></div>
       <div class="fas fa-user" id="login-btn"></div>
   </div>

   <form action="" class="search-form">
       <input type="search" id="search-box" placeholder="search here...">
       <label for="search-box" class="fas fa-search"></label>
   </form>


</header>