<!DOCTYPE html>
<html>
<head>


<title>Return</title>
<link rel="stylesheet" href="/style_admin/return.css">
</head>
<body>
<div class="container1">
    <div class="sidebar">
        <header>Admin Zone</header>
        <ul>
            <li><a href="/dashboard" ><i class="fas fa-qrcode"></i> Dashboard</a></li>
            <li><a href="/contact_management" ><i class="fa-solid fa-address-book"></i> Contact Management</a></li>
            <li><a href="/affiliate_member" ><i class="fa-solid fa-person"></i> Affiliate Members</a></li>
            <li><a href="return_product" ><i class="fa-solid fa-rotate-left"></i> Return Product</a></li>
            <li><a href="/product_management" ><i class="fas fa-stream"></i> Product Management</a></li>
            <li><a href="/add_products" ><i class="fa-solid fa-plus"></i> Add Products</a></li>
            <!-- <li><a href="#" ><i class="fa-solid fa-arrow-down-short-wide"></i> Order Product Management</a></li> -->
            <li><a href="/manage_password" ><i class="fa-solid fa-lock"></i> Manage Password</a></li>
            <li><a href="/logout" ><i class="fa-solid fa-right-from-bracket"></i> LogOut</a></li>
        </ul>
    </div>




<div class="main">
<center>
  <h2>LogOut</h2>
</center>
</div>
</div>
</body>
</html>